@import url("./tipografias.css");

:root {
    --flexbox: flex;
    --gridbox: grid;
    --textoBase: "Poppins", "Open Sans", sans-serif, serif;
    --textoSecundario: "Open Sans", "Poppins", sans-serif, serif;
    --textoResaltado: "Ubuntu", "Open Sans", "Poppins", sans-serif, serif;
    --textoTitulo: "Playpen Sans", "Ubuntu", "Roboto", sans-serif, serif;
    --textoSubtitulo: "Roboto", "Playpen Sans", "Ubuntu", sans-serif, serif;
    --rgba-neumorphism-light: rgba(255, 255, 255, .5);
    --rgba-neumorphism-dark: rgba(0, 0, 0, .4);


    /* PALETA DE COLORES PARA EL DISEÑO EN MODO CLARO */
    --color-primary:#007cbd;
    --color-textCardButton:#c6ffff;
    --accent-primary:#ffc107;
    --accent-secondary:#916400;
    --text-primary:#333333;
    --text-secondary:#5c5c5c;
    --bg-button:#58abf0; /* Degradado para la tarjeta principal */
    --bg-lightMode:#F2F5F9;
    --bg-card:#e8ebef;
    --bg-border:#bfc2c6;


    /* PALETA DE COLORES PARA EL DISEÑO EN MODO OSCURO */
    --primary-100:#0085ff;
    --primary-200:#69b4ff;
    --primary-300:#e0ffff;
    --accent-100:#dda600;
    --accent-200:#734c00;
    --text-100:#FFFFFF;
    --text-200:#9e9e9e;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
}