* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #75AAFF;
}

#encabezado {
    display: flex;
    /* background-color: rgba(255, 255, 255, .55); */
    background-color: #023047;
    border-radius: 15px 15px 0 0;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.contentMenu {
    display: none;
}

.menu, .principal, .perfil, .tareas, .clases {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid #000; */
    border-radius: 50px;
    padding: 8px;
    background-color: transparent;
}

.menu svg, .principal svg, .perfil svg, .tareas svg, .clases svg {
    background-color: transparent;
}

.menu {
    background-color: #9987FF;
}

.principal {
    background-color: #75AAFF;
}

.tareas {
    background-color: #FF8383;
}

.clases {
    background-color: #A3FF90;
}

.perfil {
    position: relative;
    top: -65px;
    width: 100px;
    height: 100px;
    background-image: url("./../img/profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid #75AAFF;
}