@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
    --flexbox: flex;
    --colorFondo: #75AAFF;
    --tipografiaGlobal:'Nunito Sans', 'Rubik', Arial, Helvetica, sans-serif, serif;
    --tipografiaTitulo: 'Roboto', 'Rubik', 'Nunito Sans', Arial, Helvetica, sans-serif, serif;
    --tipografiaSubtitulo: 'Rubik', 'Nunito Sans', Arial, Helvetica, sans-serif, serif;
    --colorTexto: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorFondo);
    font-family: var(--tipografiaGlobal);
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden; /* Eliminar en caso de problemas con el scroll */
}

#encabezado {
    display: var(--flexbox);
    flex-wrap: wrap;
    width: 100vw;
    background-color: var(--colorFondo);
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    padding: .625rem 1.25rem;
    gap: .5rem;
    position: fixed;
    top: 0;
    left: 0;
}

.menu {
    display: var(--flexbox);
    width: 1.875rem;
    height: 1.875rem;
    gap: .438rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu > .menu_line {
    width: 100%;
    height: .2rem;
    background-color: var(--colorTexto);
    border-radius: .625rem;
    transform-origin: left;
    transition: all .3s;
}

.menu:hover > .menu_line:first-child {
    transform: rotate(45deg);
}

.menu:hover > .menu_line:nth-child(2) {
    opacity: 0;
}

.menu:hover > .menu_line:last-child {
    transform: rotate(-45deg);
}

.encabezado_titulo {
    font-size: 1.25rem;
    font-family: var(--tipografiaTitulo);
    font-weight: 600;
    letter-spacing: .063rem;
    color: var(--colorTexto);
}

.encabezado_imagen {
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
    border-radius: 3.125rem;
}

.sidebar {
    /* display: var(--flexbox); */
    display: none;
    position: fixed;
    min-width: 65vw;
    height: 100vh;
    background-color: #023047;
    padding: .9rem;
    margin-right: .625rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sidebar_header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

.sidebar_header::after {
    content: '';
    padding-top: .35rem;
    width: 50%;
    border-bottom: .063rem solid #808b96;
}

.header_contenedorClose {
    display: var(--flexbox);
    color: var(--colorTexto);
    width: 100%;
    justify-content: flex-end;
    font-size: 1.2rem;
}

.header_close {
    cursor: pointer;
}

.header_close:hover {
    text-shadow: 0px 0px 5px var(--colorTexto);
}

.header_imagen {
    width: 5.25rem;
    height: 5.25rem;
    object-fit: cover;
    border-radius: 6.25rem;
}

.header_texto {
    color: var(--colorTexto);
    font-family: var(--tipografiaSubtitulo);
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 500;
}

.sidebar_main {
    display: var(--flexbox);
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.4rem;
}

.main_list {
    list-style: none;
}

.list_item {
    display: var(--flexbox);
    margin: 0 0 1rem 0;
    background-color: rgba(255, 255, 255, .35);
    border-radius: .625rem;
    padding: .625rem;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s;
}

.list_item:last-child {
    margin: 0;
}

.list_item:nth-child(1):hover {
    background-color: #75AAFF;
    box-shadow: 0px 0px 8px #75AAFF;
}

.list_item:nth-child(2):hover {
    background-color: #79BF6B;
    box-shadow: 0px 0px 8px #79BF6B;
}

.list_item:nth-child(3):hover {
    background-color: #E6A250;
    box-shadow: 0px 0px 8px #E6A250;
}

.list_item:nth-child(4):hover {
    background-color: #9987FF;
    box-shadow: 0px 0px 8px #9987FF;
}

.list_item:nth-child(5):hover {
    background-color: #FF8383;
    box-shadow: 0px 0px 8px #FF8383;
}

.list_icon {
    color: var(--colorTexto);
    margin-right: .85rem;
}

.list_link {
    text-decoration: none;
    color: var(--colorTexto);
    width: 100%;
    transition: all .3s;
}

.list_item:hover > .list_icon {
    color: #000;
    font-size: 1.2rem;
}

.list_item:hover > .list_link {
    color: #000;
    font-size: 1.2rem;
}

.sidebar_footer {
    display: var(--flexbox);
    color: var(--colorTexto);
    font-size: .75rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer_link {
    text-decoration: none;
    color: var(--colorTexto);
    padding: .5rem;
    border-radius: .313rem;
    transition: all .3s;
}

.footer_link:hover {
    background-color: rgba(255, 255, 255, .55);
    color: #17202a;
    box-shadow: 0px 0px 5px var(--colorTexto);
    backdrop-filter: blur(5px);
}